<header class='masthead'> 
    <nav class="language">
    <ul>
        <li> <a href="#">CSS </a></li>
        <li><a href="#"> HTML </a></li>
        <li><a href="#"> Javascript </a></li>
        <li><a href="#"> Ruby </a></li>
    </ul>
</nav>
    <img class="logo" src="assets/AA_Times_Logo.png">
    <ul class="masthead-links">
        <time>Tuesday, October 18, 2016</time>
        <i class="far fa-newspaper"></i><a href="#">Today’s Paper</a>
        <i class="fas fa-video"></i><a href="#">Video</a>
        <a>77°F</a>
        <a>AAO +100%</a>
    </ul>
</header>
 
